@font-face {
  font-family: $trading-ff;
  src: url('../fonts/trading/trading-backtester.eot');
  src: url('../fonts/trading/trading-backtester.eot?#iefix') format('embedded-opentype'),
    url('../fonts/trading/trading-backtester.woff') format('woff'),
    url('../fonts/trading/trading-backtester.ttf') format('truetype'),
    url('../fonts/trading/trading-backtester.svg#trading-backtester') format('svg');
  font-weight: normal;
  font-style: normal;
}
