$sidebar-width: 15rem;
$xs: 412px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

$sidebar-bg-color: hsl(195, 15%, 5%);
$main-bg-color: hsl(203, 15%, 12%);
$main-bg-color-light: hsl(203, 15%, 35%);
