@import '../../assets/scss/variables';

.Container {
  overflow: hidden;
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
  min-height: 100vh;

  > main {
    padding: 4rem;
    width: calc(100vw - $sidebar-width);
  }
}
