@import '../../../assets/scss/placeholders';

.container {
  @extend %authContainer;

  .formGroup {
    grid-template-columns: 4rem 24rem 1fr;
  }

  .formGroupToken {
    input {
      grid-column: span 2;
    }
  }
}

.formGroup {
  @include flex(center, flex-start, row nowrap, 1rem);

  input {
    @include input;
    width: 100%;
  }
}

.sendTokenButton {
  @include button-main;
}

.loginButton {
  @include button-success;
}

.registerContainer {
  @include flex(center, $flex-flow: column, $gap: 1rem);
}

.toRegisterButton {
  @include button-main;
  width: fit-content;
}
